/*
 - This is the css file of the login page
 - Authors: Sepanta Kamali
*/

  body {
    font-family: "Poppins", sans-serif;
  }
  
  #title-container{
    display: flex;
    flex-direction: row;
     position: absolute;
     top: 20px;
     left: 20px;
     z-index: 100;
     font-family: "Poppins", sans-serif;
     font-size: 1.5rem;
  }

  #title-container img{
    width: 60px;
  }

  .title-primary{
    color: var(--text-color);
  }
  
  .title-white{
     color: black;
  }
  .container {
    height: 100vh;
    position: relative;
    background-color: var(--stronger-background-color);
    overflow: hidden;
  }
  
  .form-container {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 2rem;
    transition: 0.6s ease-in-out;
  }
  
  .signup-container {
    opacity: 0;
    z-index: 1;
  }
  
  .signin-container {
    z-index: 2;
  }
  
  form {
    height: 100%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  form h1 {
    font-size: 2.5rem;
    color: var(--text-color);
  }
  
  .form-group {
    position: relative;
    margin: 0.5rem 0;
    width: 100%;
  }
  
  input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: var(--sidebar-color);
    border-bottom: 1px solid var(--text-color);
  }
  
  .forget-password{
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    margin-top: 10px;
  }
  
  .form-container button {
    padding: 0.75rem 4rem;
    margin-top: 2rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--lighter-background-color);
    border-radius: 2rem;
    background-color: var(--text-color);
    cursor: pointer;
  }
  
  /* Overlay Container */
  .overlay-container {
    position: absolute;
    top: 0;
    left: 60%;
    height: 100%;
    width: 40%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 10;
  }
  
  .overlay-wrapper {
    background: url("../images/macscenery.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: black;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    text-align: center;
    height: 100%;
    width: 40%;
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-panel-left {
    right: 60%;
    transform: translateX(-12%);
  }
  
  .overlay-panel-right {
    right: 0;
    transform: translateX(0);
  }
  
  .overlay-panel h1 {
    font-size: 2.7rem;
    margin-bottom: 1rem;
  }
  
  .overlay-panel p {
    max-width: 350px;
    margin: 0 auto;
    line-height: 2rem;
    font-size: 1.3rem;
  }
  
  .overlay-panel button {
    padding: 0.75rem 4rem;
    margin-top: 2rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: black;
    border-radius: 2rem;
    background-color: transparent;
  }
  
  #overlay-btn-signup{
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
  }

  #overlay-btn-signin{
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .right-panel-active .overlay-container {
    transform: translateX(-150%);
  }
  
  .right-panel-active .overlay-wrapper {
    transform: translateX(50%);
  }
  
  .right-panel-active .overlay-panel-left {
    transform: translateX(25%);
  }
  
  .right-panel-active .overlay-panel-right {
    transform: translateX(35%);
  }
  
  .right-panel-active .signin-container {
    transform: translateX(20%);
    opacity: 0;
  }
  
  #signin-email, #signin-password, #signup-password, #signup-email, #signup-username{
    background-color: transparent;
  }
  .right-panel-active .signup-container {
    transform: translateX(65%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes show {
    0%,
    50% {
      opacity: 0;
      z-index: 1;
    }
    51%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  .scale-btn-animation {
    animation: scale-animation 0.6s;
  }
  
  @keyframes scale-animation {
    0% {
      width: 10rem;
    }
    50% {
      width: 20rem;
    }
    100% {
      width: 10rem;
    }
  }
