/*
 - This is the css file to make the color scheme
 - Author: Umer Qureshi
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-color: #7a003c;
  --sidebar-color: #fdbf57;
  --lighter-background-color: #cccccc;
  --stronger-background-color: white;
  /* --text-color: #b1b1b1;
  --sidebar-color: #2b2b2b;
  --lighter-background-color: #434343;
  --stronger-background-color: rgb(26, 26, 26); */
}

body,
.mode,
.card,
.switch,
button,
div,
aside,
section {
  transition: all 0.3s ease;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
